
/Configuration_Utility/Configuration_Utility/obj
/Configuration_Utility/_ReSharper.Configuration_Utility
/Services/Service1/_ReSharper.Tuio-To-VmultiClient
/Services/Service1/Vmulti_Client/Release
/Services/Service1/Vmulti_Client/Debug
/Services/Service1/Tuio-to-Vmulti-Service-1/Release
/Services/Service1/Tuio-to-Vmulti-Service-1/Debug
/Services/Service2/_ReSharper.Tuio-To-VmultiClient
/Services/Service2/Tuio-to-Vmulti-Service-2/Debug
/Services/Service2/Tuio-to-Vmulti-Service-2/Release
/Services/Service2/Vmulti_Client/Release
/Services/Service2/Vmulti_Client/Debug
/Services/Service3/_ReSharper.Tuio-To-VmultiClient
/Services/Service3/Tuio-to-Vmulti-Service-3/Release
/Services/Service3/Tuio-to-Vmulti-Service-3/Debug
/Services/Service3/Vmulti_Client/Release
/Services/Service3/Vmulti_Client/Debug
/Services/Service4/_ReSharper.Tuio-To-VmultiClient
/Services/Service4/Tuio-to-Vmulti-Service-4/Release
/Services/Service4/Tuio-to-Vmulti-Service-4/Debug
/Services/Service4/Vmulti_Client/Release
/Services/Service4/Vmulti_Client/Debug
/Services/Service5/_ReSharper.Tuio-To-VmultiClient
/Services/Service5/Tuio-to-Vmulti-Service-5/Release
/Services/Service5/Tuio-to-Vmulti-Service-5/Debug
/Services/Service5/Vmulti_Client/Release
/Services/Service5/Vmulti_Client/Debug