<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tuioport1" value="3333"/>
    <add key="tuioport2" value="4444"/>
    <add key="tuioport3" value="5555"/>
    <add key="tuioport4" value="6666"/>
    <add key="tuioport5" value="7777"/>
  </appSettings>
</configuration>
